@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
 /*------------- Whole Document---------------- */

body {
    font-family: 'Source Code Pro';
    font-size: 19px;
}

/*----------------- links ---------------------*/

a { 
  color: #264653;
}

 a:hover {
    color: #2A9D8F; /* darker color when hovering */
  }

/*----------------- font-color and center headings ---------------------*/  
h1, h2, h3, h4 {
 color: #3f3f3f;
 text-align: center;
}

p { 
 color: #3f3f3f;
}

